<section class="lg:pb-24">
    <!--    <div class="max-w-screen-md px-4 mx-auto">-->

    <div style="display: flex; align-items: center; justify-content: center; gap: 3rem">
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.leonluethi.biblio&hl=de">
            <img alt="" src="/images/pages/biblio256.webp" style="width: 10rem; border-radius: 2rem;"/>
        </a>

        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.leonluethi.biblio&hl=de">
            <img alt="" src="/images/pages/google-play-badge200.webp"/>
        </a>
    </div>

    <div class="mb-8 font-light text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">
        <h3>Your Digital Bookshelf with Biblio</h3>
        With Biblio, manage your personal library effortlessly, no matter where you are. This app allows you to conveniently catalog the books you own and create a wishlist for those you'd like to purchase. Simply scan the barcode on the back of a book to add it to your collection.
        </br>
        </br>
        Ever find yourself in a bookstore wondering if you already own a specific book or if you've completed a series? Biblio can quickly confirm what's on your shelf, preventing any duplicate purchases.
        </br>
        </br>
        <h3>Get Started for Free</h3>
        Biblio is developed in Switzerland and operates on secure Swiss servers. Try it out today at no cost!
        </br>
        </br>

        <h3>I Value Your Feedback</h3>
        Enjoy using Biblio and see how it transforms your reading experience! If you have any questions, suggestions, or ideas for new features, please don't hesitate to contact me. Your input helps make Biblio even better.
    </div>

    <a href="https://play.google.com/store/apps/details?id=com.leonluethi.biblio&hl=de">Get it on Google Play</a>

    <h2>Some impressions</h2>

    <div class="image-container">

        <img alt="biblio book overview page" src="/images/pages/biblio-teaser1.webp"/>
        <img alt="biblio book detail page" src="/images/pages/biblio-teaser2.webp"/>
        <img alt="biblio book edit form" src="/images/pages/biblio-teaser3.webp"/>

    </div>


    <h2>Link tree</h2>

    <ul>
        <li>
            <a href="/biblio-privacy">Privacypolicy of Biblio</a>
        </li>
        <li>
            <a href="/biblio-cookie">Cookiepolicy of Biblio</a>
        </li>
        <li>
            <a href="/contact-biblio">Contact Biblio</a>
        </li>
    </ul>


    <p class="mb-8 font-light text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">
        If you want to delete your biblio account send me a message via the <a href="/contact-biblio">contact form</a>.
    </p>

    <i class="mb-8 font-light text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">
        Google Play and the Google Play logo are trademarks of Google LLC.
    </i>
</section>
