<section class="lg:pb-24">
    <!--    <div class="max-w-screen-md px-4 mx-auto">-->

    <div style="display: flex; align-items: center; justify-content: center; gap: 3rem">
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.leonluethi.biblio&hl=de">
            <img alt="" src="/images/pages/biblio256.webp" style="width: 10rem; border-radius: 2rem;"/>
        </a>

        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.leonluethi.biblio&hl=de">
            <img alt="" src="/images/pages/google-play-badge200.webp"/>
        </a>
    </div>

    <p class="mb-8 font-light text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">
        Your digital bookshelf. With Biblio, you always have an overview of the books in your collection, wherever
        you are.
        </br>
        </br>
        With Biblio, you can easily and conveniently record both the books you already have and the books you want
        to buy in the future. Scan the barcode on the back of the book, for example, and off you go!
        </br>
        </br>
        Biblio can also help you find out whether you already have a certain book. For example, if you are in the
        bookshop and are not sure whether you already have all the volumes in a series.
        </br>
        </br>
        Try it out right away. Biblio is free, was developed in Switzerland and runs on a Swiss server.
        </br>
        </br>
        I wish you lots of fun and friends with Biblio. If you have any questions, suggestions or ideas for new
        functions, please feel free to write to me.
    </p>

    <a href="https://play.google.com/store/apps/details?id=com.leonluethi.biblio&hl=de">Get it on Google Play</a>

    <h2>Some impressions</h2>

    <div class="image-container">

        <img alt="biblio book overview page" src="/images/pages/biblio-teaser1.webp"/>
        <img alt="biblio book detail page" src="/images/pages/biblio-teaser2.webp"/>
        <img alt="biblio book edit form" src="/images/pages/biblio-teaser3.webp"/>

    </div>


    <h2>Link tree</h2>

    <ul>
        <li>
            <a href="/biblio-privacy">Privacypolicy of Biblio</a>
        </li>
        <li>
            <a href="/biblio-cookie">Cookiepolicy of Biblio</a>
        </li>
        <li>
            <a href="/contact-biblio">Contact Biblio</a>
        </li>
    </ul>


    <p class="mb-8 font-light text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">
        If you want to delete your biblio account send me a message via the <a href="/contact-biblio">contact form</a>.
    </p>

    <i class="mb-8 font-light text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">
        Google Play and the Google Play logo are trademarks of Google LLC.
    </i>
</section>
